*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: linear-gradient(to right, black, grey);
  }
  body {
    background: linear-gradient(to right, black, grey);
    max-width: 100%;
    text-align: center;
  }
  footer {
    background: linear-gradient(to right, black, grey);
    margin-top: 2rem;
  }
  .container-cards{
    display: flex;
    gap: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 4.5rem;
  }
 .card{
    box-shadow: 8px 8px 8px 8px black;
 }
 h1{
    color: white;
    text-align: center;
    display: inline-block;
    position: relative;
 }
h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
h1::after{
    right: -140px;
}
h1::before{
    left: -140px;
}
h2{
    color: white;
    text-align: center;
    margin-top: 2rem;
}
footer .footer-sm {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 4rem;
  }
  footer .footer-sm a {
    color: white;
    opacity: 0, 65;
  }
  footer .footer-sm_icons :hover {
    opacity: 0.65;
  }
  #carouselExampleCaptions{
    width: 100%;
    height: 500px;
  }
 .carousel-item{
    width: 100%;
    height: 500px;
  }

.buttonAct{
    border: none  !important;
    border-radius: none !important;
    width: 100%;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonActContainer{
    border: none  !important;
    border-radius: none !important;
    width: 100%;
    font-size: large;
}
.subtitutloCarrusel{
    font-size: larger;
}
