  .carrusel-sucursales{
    display: flex;
    flex-direction: column;
  }
  
  .carousel img {
    width: 100%;
    height: 250px !important;
    object-fit: contain;
  }

  .heigth-img{
    height: 250px !important;
    object-fit: contain;
  }

  .carousel-item {
    width: 100%;
    height: 250px !important;
}
